* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: rgb(8, 14, 6);
  font-family: sans-serif;
  line-height: 1.4;
  margin-top: 40px;
}

article {
  border: 4px solid black;
  position: relative;
  margin-top: 40px;
}

h2 {
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(187, 187, 187, 0.39);
  padding: 10px;
}

strong {
  font-size: 20px;
}

.grayStyle {
  color: gray;
  text-transform: uppercase;
  /* float: left; */
  /* margin-top: 15px;*/
  /* margin-left: 55px; */
}

h3 {
  font-size: 17px;
  text-transform: uppercase;
  margin-top: 10px;
}

a {
  color: black;
  margin-bottom: 30px;
}

li {
  list-style: square;
  align-items: center;
  margin-bottom: 10px;
}

button {
  background-color: black;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  margin-top: -7px;
}

button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  border-style: none;
}

.container {
  /* width: 800px;
  margin: 0 auto; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
}

.header-title {
  grid-column: 1 / -1;
}

button {
  grid-column: 1/ -1;
}
.anounced {
  position: absolute;
  background-color: red;
  color: white;
  font-size: 14px;
  padding: 5px;
  top: -15px;
  left: -50px;
  padding: 5px 20px;
  letter-spacing: 7px;
}

.color {
  background-color: black;
  height: 22px;
  width: 22px;
  margin-right: 10px;
}
.color-blue {
  background-color: blue;
}
.color-red {
  background-color: red;
}
.color-yellow {
  background-color: yellow;
}
.color-green {
  background-color: green;
}
.color-brown {
  background-color: brown;
}

article {
  width: 908px;
  margin: 0 auto;
}

/* Layout for the details section 
.box-img {
  width: 300px;
  float: left;
  padding-right: 40px;
}

.box-middle {
  width: 300px;
  float: left;
  padding-right: 40px;
}
.box-details {
  width: 300px;
  float: right;
}
  */
.price-shipping {
  font-size: 25px;
}

.description-details {
  padding-right: 40px;
}
.tittle-details {
  margin-left: -20px;
  margin-bottom: 30px;
}

.description {
  padding-bottom: 10px;
  font-size: 17px;
}

.part-box {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.price-shipping-box {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.box-details {
  flex: 0 1 440px;
}

.colors {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}
